Repository charlesrocket/essential_collection, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, role, plugin, test, ops

ops: fix docs permissions
  .github/workflows/docsite.yml
Labels: ops

revert(ops): use macos-12
  .github/workflows/ci.yml
Labels: ops

ops(lint): build the collection
  .github/workflows/ci.yml
Labels: ops

test: fix network interfaces
  molecule/default/molecule.yml
Labels: test

ops: update test distros
  .github/workflows/ci.yml
Labels: ops

ops: switch to ubuntu-latest
  .github/workflows/ci.yml
Labels: ops

chore: bump ansible to 2.17
  .github/workflows/ci.yml
  meta/runtime.yml
Labels: ops

ops: configure dependabot
  .github/dependabot.yml
Labels: ops

feat: support local configs
  roles/fetch_vars/tasks/main.yml
Labels: none

chore: bump version to 1.4.0
  galaxy.yml
Labels: build

chore(release): prepare for 1.4.0
  CHANGELOG.md
Labels: none

.github/labeler.yml:

---

documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'docs/**/*']

build:
  - changed-files:
      - any-glob-to-any-file: ['requirements-dev.txt', 'galaxy.yml']

role:
  - changed-files:
      - any-glob-to-any-file: 'roles/*'

plugin:
  - changed-files:
      - any-glob-to-any-file: 'plugins/*'

test:
  - changed-files:
      - any-glob-to-any-file: ['molecule/**/*', 'tests/**/*', 'profiles/test/*']

ops:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

feature:
  - head-branch: ['^feature', 'feature']
